body {
    font-family: sans-serif;
    text-align: center;
  }
  
  #game {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
  }
  
  #word {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  #guesses {
    margin-bottom: 1em;
  }
  
  form {
    display: inline-block;
    margin-right: 1em;
  }
  
  input[type="text"] {
    font-size: 1.5em;
    width: 3em;
  }
  
  button[type="submit"] {
    font-size: 1.5em;
  }
  